# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\learning_demo\codecrafters-redis-java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
